@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <br />
    <br />
    <p>
        @Html.Label("Username")
        @Html.TextBox("Username")
    </p>
    <p>
        @Html.Label("Password ")
        @Html.TextBox("Password")
    </p>
    <br />

    <input type="submit" value="Submit" />
    <br />
    <br />

    @Html.ActionLink("New user? Click here to register.", "Register", "Register")
}